@import "_settings"

// This is axis' version of the application file. You will have to
// manually load each stylsheet that you want to use here (this is a
// best practice anyway, gives you control over what's included and in
// what order). Just use an @import directive like is done below.

normalize()
base()

// ----------------------------------------
// write styles or @import stylesheets here
// ----------------------------------------

body
  padding: 50px
