!!! 5
%head
  = render 'layouts/config'
  = stylesheet_link_tag 'application'

  -# JS resources - not yet ready
  -# resources = %w[ modal tooltip tabs alerts selection slider scrollspy imgfade spinner ]

-# ------------------------------------------------------------------------------------------

%body
  = yield

-# ------------------------------------------------------------------------------------------

-# project resources - not yet ready
-# resources.each do |r|
  -# %script{ src: "script/#{r}.js" }

-# help IE out with advanced selectors (http://selectivizr.com/)
/[if (gte IE6)&(lte IE8)]
  =javascript_include_tag 'selectivizr.js'

=javascript_include_tag 'application'
      
    